
:root{
  --text: #000;
  --accent: #22F55D;
  --body: #F9F9F9;
  --white: #fff;
  --red: #FF6C6C;
  --hover-btn: #292929;
  --z-0: 0;
  --z-1: 1;
  --z-2: 2;
  --z-9: 9;
}

body{
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  background: #F9F9F9;
  font-size: 16px;
  overflow-x: hidden;
  min-width: 320px;
  position: relative;
  margin: 0;
}

a{
  text-decoration: none;
  color: inherit;
}
ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
.img{
  display: block;
  max-width: 100%;
  height: auto;
}
.container{
  padding: 0 15px;
  max-width: 420px;
  margin: 0 auto;
}

.flex{
  display: flex;
}
.text-small{
  font-size: 1.5em;
  line-height: 130%;
}
.text-lg{
  font-size: 3.125em;
  line-height: 120%;
}
.title{
  font-size: 2em;
  text-transform: uppercase;
  font-weight: 900;
}
.btn{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  outline: none;
  background: inherit;
  border: none;
  cursor: pointer;
  transition: all .2s linear;
}
.btn-outline{
  border: 2px solid var(--text);
}
.btn-small{
  font-size: 1.125em;
  padding: 10px 24px;
  border-radius: 25px;

}
.btn-small:hover{
  border: 2px solid var(--hover-btn);
  color: var(--hover-btn);
}
.btn-primary{
  font-size: 1.5em;
  font-weight: 400;
  background: var(--text);
  border-radius: 60px;
  padding: 22px 66px;
  color: var(--white);
}
.btn-primary:hover{
  background: var(--hover-btn);
}
/*HEADER*/
.top-header{
  min-height: 100svh;
  background: var(--accent);
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
.top-header-wrapper{
  padding-top: 20px;
  position: relative;
  height: 394px;
}
.top-header-stars{
  position: absolute;
  top: 35px;
  right: -15px;
  height: 394px;
  width: 100%;
}
.top-star{
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  height: 394px;
  width: auto;
}
.top-header-stars .star{
  position: absolute;
}
.top-header-stars .star-1{
  right: 48%;
  top: 14%;
  width: 30px;
}
.top-header-stars .star-2{
  bottom: 0;
  right: 48%;
}
.top-header-stars .star-3{
  right: 80%;
  bottom: 25%;
  width: 50px;
}
.top-header-text{
  padding-bottom: 79px;
}
.top-header-text h1{
  text-transform: uppercase;
  font-size: 48px;
  line-height: 48px;
  font-weight: 900;
}
.top-header-text h1 span{
  display: block;
}
.top-header-text p{
  font-size: 34px;
  line-height: 37px;
  margin: 38px 0;
}
.top-header-text .btn-primary{
  color: var(--accent);
}

/*LIMIT*/

.limit-img{
  width: 1050px;
  flex-shrink: 0;
}
.limit-img-content{
  width: 100%;
  height: 656px;
  position: relative;
  background: url("/image/rectangle-desktop.png") no-repeat center;
  background-size: contain;
}
.limit-stars{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: var(--z-2);
}
.limit-stars .img{
  position: absolute;
}

.limit-star-1{
  right: 20%;
  top: 15%;
  width: 40px;
}
.limit-star-2{
  left: 13%;
  bottom: 44%;
  width: 5%;
}
.limit-star-3{
  bottom: 38%;
  left: 8%;
  width: 12px;
}


.ellipse{
  position: absolute;
  width: 371px;
  height: 371px;
  top: 24%;
  left: 17%;
  z-index: var(--z-1);
}
.ellipse{
  top: 20%;
  left: 10%;
}
.limit-string{
  position: absolute;
  z-index: var(--z-2);
  margin: 0;
  line-height: 80%;
  top: 25%;
  left: 5%;
  font-size: 2.5em;
}

.limit-string span{
  display: block;
}
.limit-string span:nth-child(1){
  font-weight: 300;
}
.limit-string span:nth-child(2){
  font-weight: 700;
  padding-left: 65px;
}
.limit-string span:nth-child(3){
  font-weight: 900;
  padding-left: 65px;
}


.limit-text .img{
  width: 100px;
}
.limit-text p{
  margin: 38px 0 0 0;
  max-width: 30svw;
}

.limit-text .btn{
  margin-top: 40px;
}


/*QR*/
.section-qr{
  margin-top: 205px;
}
.qr-wrapper{
  gap: 30px;
}
.qr-img{
  position: relative;
  flex: 1 3 59svw;
  overflow: hidden;
  border-radius: 60px;
  background: var(--accent);
}
.qr-person{
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-45%);
}
.qr-stars{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}
.qr-stars .img{
  position: absolute;
}
.qr-star-1{
  left: 11%;
  top: 17%;
  width: 19%;
}
.qr-star-2{
  left: 32%;
  top: 15%;
  width: 3%;
}
.qr-star-3{
  left: 23%;
  top: 50%;
}
.qr-star-4{
  right: 11%;
  bottom: 12%;
  width: 5%;
}
.qr-star-5{
  bottom: 8%;
  right: 8%;
  width: 2%;
}

.qr-text{
  flex: 1 1 30svw;
  background: var(--white);
  border-radius: 55px;
  padding: 44px 60px 60px 60px;
}
.qr-text .img{
  position: relative;
  left: -15px;
}
.qr-text h4{
  margin: 94px 0 0;
}
.qr-text p{
  max-width: 28svw;
  margin: 30px 0 0;
}
.qr-text .btn{
  margin-top: 35px;
}

/*CREATOR*/
.creator-section{
  margin-top: 50px;
  text-align: center;
}

.creator-wrapper{
  background: url("/image/border.png") no-repeat center;
  background-size: 100% 100%;
  padding: 162px 0 133px;
  width: 100%;
}
.creator-section .img{
  margin: 0 auto;
}
.creator-section p{
  margin: -19px auto 0 auto;
  max-width: 60svw;
}
.creator-section .btn{
  margin-top: 30px;
}

/*CASHBACK*/
.cashback-section{
  margin-top: 50px;
}
.cashback-wrapper{
  gap: 30px;
}
.cashback-text{
  flex: 1 2.5 40svw;
  background: var(--white);
  border-radius: 55px;
  padding: 70px 75px 90px;
  text-align: right;
}
.cashback-text .img{
  margin-left: auto;
}
.cashback-text h4{
  margin: 221px 0 0;
}
.cashback-text p{
  margin: 54px 0 0;
}
.cashback-text .btn{
  margin-top: 41px;
}

.cashback-img{
  flex: 1 2 40svw;
  overflow: hidden;
  border-radius: 55px;
}
.cashback-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/*footer*/
.footer{
  margin-top: 103px;
}
.footer-wrapper{
  align-items: stretch;
  padding-bottom: 45px;
}
.footer-item{
  display: flex;
  flex-grow: 1;
}
.footer-logo{
  flex-direction: column;
  justify-content: space-between;
}
.footer-policy{
  align-items: center;
  gap: 18px;
  font-size: 1.125em;
}
.footer-nav ul{
  flex-direction: column;
  gap: 21px;
  font-size: 1.125em;
}
.footer-item-action{
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
.footer-item-action .btn{
  flex-direction: column;
  gap: 10px;
  font-size: 1.125em;
}

.footer-item-social{
  justify-content: flex-end;
}
.footer-social ul{
  margin-top: 22px;
  align-items: center;
  gap: 40px;
}

.footer-email{
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.footer-email .btn-outline{
  font-size: 1.5em;
  font-weight: 700;
  border-radius: 60px;
  padding: 22px 32px;
  border: 4px solid var(--text);
}
.btn-outline:hover{
  color: var(--hover-btn);
  border: 4px solid var(--hover-btn);
}
.footer-email p{
  font-size: 1.125em;
  margin: 0;
}


.text-lg{
  font-size: 2.125em;
}


.limit-img{
  width: 60%;
}
.limit-img-content{
  height: 518px;
}


.qr-text{
  padding: 30px;
}
.qr-text h4{
  margin: 38px 0 0;
}
.qr-text p{
  max-width: 100%;
}
.cashback-text h4{
  margin: 38px 0 0;
}


.limit-img-content{
  height: 450px;
}


.limit-text{
  padding-top: 0;
}
.limit-text p{
  max-width: none;
}

.creator-wrapper{
  padding: 115px 0;
}
.footer-social ul{
  gap: 20px;
}
.cashback-text{
  padding: 20px;
}

.limit-img{
  width: 55%;
}

.limit-img-content{
  height: 333px;
}

.limit-text .img{
  width: 80px;
}
.limit-text p{
  margin: 10px 0 0;
}
.limit-text .btn{
  margin-top: 20px;
}

.qr-img{
  flex: 1 3 50svw;
}
.qr-person img{
  width: 400px;
  height: 500px;
}
.qr-star-1 {
  left: 7%;
  top: 9%;
}
.qr-star-2{
  left: 23%;
  top: 22%;
}
.qr-star-3{
  left: 6%;
  top: 27%;
}
.qr-star-4{
  bottom: 7%;
}
.qr-star-5{
  bottom: 4%;
  right: 16%;
}
.qr-text h4{
  margin: 10px 0 0;
}

.creator-wrapper{
  padding: 50px 0;
}
.creator-section .img{
  width: 80%;
}
.creator-section p{
  margin: 0 auto;
  max-width: 90svw;
}
.footer-item-action{
  display: none;
}
.footer-email .btn-outline{
  padding: 17px 26px;
  font-size: 1.125em;
  border: 3px solid var(--text);
}
.footer-wrapper{
  flex-wrap: wrap;
}
.footer-logo{
  order: 5;
  width: 100%;
  margin-top: 30px;
  flex-direction: column-reverse;
  align-items: center;
  gap: 74px;
}
.footer-item-social{
  width: 100%;
  margin-top: 30px;
  order: 4;
  justify-content: center;
}

.btn-primary{
  font-size: 1.125em;
  padding: 17px 50px;
}
.top-section{
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.top-section-text h1{
  font-size: 4em;
}
.top-section-text p{
  font-size: 3em;
}

.section-limit{
  margin-top: 12px;
}
.limit-wrapper{
  flex-direction: column;
  align-items: flex-start;
  gap: 0;
}
.limit-img{
  width: 100%;
}
.limit-img-content{
  background: url('/image/rectangle-m.png') no-repeat center;
  background-size: 100% 100%;
  height: 421px;
  width: 100%;
  margin: 0 auto;
}

.limit-text{
  width: 80%;
  margin-top: -40px;
}

.ellipse{
  left: 24%;
  top: 20%;
  width: 215px;
  height: 215px;
}

.section-qr{
  margin-top: 48px;
}
.qr-img{
  flex: 1 1 100%;
  min-height: 506px;
}
.qr-star-2{
  top: 32%;
}
.qr-star-3{
  top: 38%
}
.qr-wrapper{
  flex-direction: column;
}
.qr-text{
  padding: 0;
  flex: 1 1 100%;
  border-radius: 0;
  background: none;
}
.creator-section{
  margin-top: 40px;
}
.creator-section .img{
  width: 90%;
}

.creator-wrapper p{
  padding: 0 30px;
}
.cashback-section{
  margin-top: 20px;
}
.cashback-wrapper{
  flex-direction: column-reverse;
  gap: 38px;
}
.cashback-text{
  flex: 1 1 100%;
  width: auto;
  min-width: auto;
  text-align: left;
  background: none;
  padding: 0;
}
.cashback-text .img{
  margin-left: 0;
}
.cashback-text h4{
  margin-top: 34px;
}
.cashback-text p{
  margin-top: 20px;
}
.cashback-text .btn{
  margin-top: 32px;
}
.cashback-img{
  flex: 1 1 100%;
}
.footer-item-nav{
  order: 1;
  width: 100%;
}
.footer-email{
  margin-top: 15px;
  order: 2;
  width: 100%;
  flex-direction: row-reverse;
  align-items: center;
}
.footer-logo .logo img{
  max-width: 380px;
}

.top-section-content{
  padding-top: 15svh;
}
.top-section-img{
  padding: 30px 0;
}
.top-section .card{
  width: 100%;
  margin: 0 auto;
}
.limit-text{
  width: 100%;
}

.qr-person{
  transform: translateX(-50%);
}
.qr-star-2{
  top: 25%
}
.qr-star-3{
  width: 10%;
}
.qr-person img{
  width: 340px;
  height: 440px;
}
.creator-wrapper{
  background: url("/image/border-m.png") no-repeat center;
  background-size: 100% 100%;
  width: 100%;
  padding: 48px 0;
}

.footer-policy{
  text-align: center;
}

.text-small{
  font-size: 1.25em;
  line-height: 130%;
}
.text-lg{
  font-size: 1.25em;
}

.limit-img-content{
  width: 100%;
  background-size: 100% 100%;
}

.limit-text{
  width: 100%;
  margin-top: -60px;
}
.limit-text .img{
  width: 100px;
}
.limit-text p{
  margin: 30px 0 0;
}
.limit-text .btn{
  margin-top: 30px;
}
.ellipse{
  left: 14%;
  top: 20%;
  width: 180px;
  height: 180px;
}



.qr-img{
  border-radius: 25px;
  min-height: 490px;
}
.qr-person img{
  width: 300px;
  height: 340px;
  object-fit: cover;
}
.creator-wrapper{
  width: 100%;
  padding: 60px 0;
}

.creator-wrapper p{
  padding: 0 10px;
  margin-top: 35px;
}
.cashback-text{
  padding: 0;
}
.cashback-text .text-lg{
  font-size: 1.25em;
}
.footer-item-social{
  margin-top: 50px;
}
.footer-social{
  width: 100%;
}
.footer-social ul{
  margin-top: 0;
  width: 100%;
  justify-content: space-around;
}
.footer-logo{
  margin-top: 45px;
}

.donation-img{
  width: 100%;
}
.limit-img-content{
  height: 350px;
}

.footer-email{
  flex-direction: column;
  gap: 20px;
}

.footer-item-social, .footer-policy{
  display: none;
}